body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000;
    margin: 0;
    padding: 0;
    color: #0f0; /* Retro green color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    padding: 50px 20px;
    border-radius: 10px; /* Add some rounded corners */
}

h1 {
    font-size: 50px; /* Increase the font size for the header */
    margin-bottom: 40px; /* Decrease the space between the header and countdown */
    color: #FF10F0; /* Retro yellow color for the header */
}

.countdown {
    font-size: 32px; /* Increase the font size for the countdown */
    font-family: "Digital-7 Mono", sans-serif; /* Retro digital clock font */
    letter-spacing: 5px; /* Adjust the letter spacing for better visibility */
}

.retro-clock {
    display: inline-block;
    background-color: #000; /* Background color for the clock display */
    padding: 10px; /* Add some padding to enhance the appearance */
    border-radius: 5px; /* Add rounded corners to the clock display */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8); /* Add a green glow effect */
}